@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Explore the World with Ease</h1>

    <a asp-controller="Home" asp-action="Login" class="btn btn-primary">
        Login
    </a>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
