@model Travel.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<h1 class="display-4">@ViewData["Title"]</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

<form asp-action="Login" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Passwd">Password</label>
        <input asp-for="Passwd" type="password" class="form-control" />
        <span asp-validation-for="Passwd" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
